<div class="container-fluid register-form">
    <div class="form">
        <div class="note">
            <p> Finish Good History</p>
        </div>

        <form class="form-content" [formGroup]="finishGoodForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <Label> <strong> Start Date</strong></Label>
                        <input
                            type="date"
                            class="form-control"
                            formControlName="startDate"
                            placeholder="Enter Start Date"
                            value=""
                        />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <Label> <strong> End Date</strong></Label>

                        <input
                        type="date"
                        class="form-control"
                        formControlName="endDate"
                        placeholder="Enter End Date"
                        value=""
                    />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <Label> <strong> Select Raw Product</strong></Label>

                        <ng-select  placeholder="Enter Raw Product" formControlName="productId"
                        [items]="rawMat" class="" bindLabel="productName" bindValue="id"
                        >
                       </ng-select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <Label> <strong>Select Sale</strong></Label>

                        <ng-select placeholder="Select Sale" formControlName="saleId"
                        [items]="sale" class="" bindLabel="finalSale_product.productName" bindValue="id"
                        >
                       </ng-select>
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-lg-4">
                    <button type="submit" class="btnSubmit">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="container" *ngIf="finishGoodDetail">
    <div class="table-responsive"  id="style-1">
        <table class="table table-striped d-table text-center table-stats" id="pdftable" width="100%" #pdfTable>
            <thead class="text-muted">
                <tr class="red">
                    <th scope="col" width="100" class="text-dark text-truncate">Finish Good ID </th>
                    <th scope="col" width="200" class="text-dark text-truncate">Customer Name</th>
                    <th scope="col" width="200" class="text-dark text-truncate">Product Name</th>
                    <th scope="col" width="100" class="text-dark text-truncate">Master Cartoon</th>
                    <th scope="col" width="100" class="text-dark text-truncate">Dozen Boxes</th>
                    <th scope="col" width="100" class="text-dark text-truncate">Packing Capacity</th>
                    <th scope="col" width="100" class="text-dark text-truncate">Packing Unit</th>
                    <th scope="col" width="100" class="text-dark text-truncate">Packing Type</th>
                    <th scope="col" width="100" class="text-dark text-truncate">Packing Type Quantity</th>
                    <th scope="col" width="100" class="text-dark text-truncate">Total Quantity in Unit</th>
                    <th scope="col" width="100" class="text-dark text-truncate">Total Quantity in Liters</th>
                    <th scope="col" width="100" class="text-dark text-truncate">Total Quantity in Kg</th>
                    <th scope="col" width="100" class="text-dark text-truncate">Price</th>
                    <th scope="col" width="100" class="text-dark text-truncate">Processing Status</th>
                </tr>
            </thead>
            <tbody *ngFor="let data of finishGoodDetail | paginate: config; let i = index">
                <tr>
                    <td>
                    
                                <h6 class="title text-truncate text-center">{{data.sale_rawrecipie.id}}</h6>
                     
                    </td>
                    <td>

                        <h6 class="title text-truncate text-center">{{data.sale_rawrecipie.finalSale_customer.customerName}}</h6>

                    </td>
                    <td>

                        <h6 class="title text-truncate text-center">{{data.sale_rawrecipie.finalSale_product.productName}}</h6>

                    </td>
                    <td>
                    
                                <h6 class="title text-truncate text-center">{{data.sale_rawrecipie.masterCartoons}}</h6>
                     
                    </td>
                    <td>
                    
                                <h6 class="title text-truncate text-center">{{data.sale_rawrecipie.dozenBoxes}}</h6>

                     
                    </td>
                    <td>
                    
                                <h6 class="title text-truncate text-center">{{data.sale_rawrecipie.packingCapacity}}</h6>
                     
                    </td>
                    <td>
                    
                                <h6 class="title text-truncate text-center">{{data.sale_rawrecipie.packingUnit}}</h6>
                     
                    </td>
                    <td>
                    
                                <h6 class="title text-truncate text-center">{{data.sale_rawrecipie.packingType}}</h6>
                     
                    </td>

                    <td>
                    
                                <h6 class="title text-truncate text-center">{{data.sale_rawrecipie.packingTypeQuanitity}} {{data.packingType}}
                                </h6>

                     
                    </td>
                    <td>
                    
                                <h6 class="title text-truncate text-center">{{data.sale_rawrecipie.totalQuantityinPackingUnit}}
                                    {{data.sale_rawrecipie.packingUnit}}</h6>
                     
                    </td>
                    <td>
                    
                                <h6 class="title text-truncate text-center">{{data.sale_rawrecipie.totalQuantityinLiters}} LTR</h6>
                     
                    </td>
                    <td>
                    
                                <h6 class="title text-truncate text-center">{{data.sale_rawrecipie.totalQuantityinKg}} KG</h6>
                     
                    </td>
                    <td>
                    
                                <h6 class="title text-truncate text-center">{{data.sale_rawrecipie.price}}</h6>
                     
                    </td>
                    <td>
                    
                                <h6 class="title text-truncate text-primary" *ngIf="data.sale_rawrecipie.isSold === false">Pending
                                </h6>
                                <h6 class="title text-truncate text-success" *ngIf="data.sale_rawrecipie.isSold === true">Delivered
                                </h6>

                     
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-dark round-corner text-uppercase px-4 mb-2" (click)="genReport()">Export
            To PDF</button>
    </div> <!-- card.// -->


</div>


<div class="row margin-pagination mt-1">
    <div class="col-lg-6 offset-lg-2">
      <div class="d-flex justify-content-around">
       <pagination-controls  (pageChange)="pageChanged($event)"></pagination-controls>
      </div>
    </div>
</div>