<div>
    <app-page-header [heading]="'Listing Client Info'" [icon]="'fa-bar-chart-o'"></app-page-header>

    <div class="row product-form-1">
        <div class="col-lg-4 offset-lg-9 mb-3">
            <button class="btnSubmit" [routerLink]="['create']"> Create Client </button>
        </div>
    </div>

    <div class="container">
        <div class="table-responsive" id="style-1">
            <table class="table table-striped d-table text-center table-stats" id="pdftable" width="100%" #pdfTable>
                <thead class="text-muted">
                    <tr class="red">
                        <th scope="col" class="text-dark text-center text-truncate">Customer ID</th>
                        <th scope="col" class="text-dark text-center text-truncate">Customer Name</th>
                        <th scope="col" class="text-dark text-center text-truncate">Customer CNIC</th>
                        <th scope="col" class="text-dark text-center text-truncate">Contact No</th>
                        <th scope="col" class="text-dark text-center text-truncate">Currency Type</th>
                        <th scope="col" class="text-dark text-center text-truncate">Opening Balance</th>
                        <th scope="col" class="text-dark text-center text-truncate">Company Name </th>
                        <th scope="col" class="text-dark text-center text-truncate">Created Date</th>
                        <th scope="col" class="text-dark">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of clientDetail | paginate: config; let i = index">
                        <td>

                            <h6 class="title text-truncate text-center">{{data.id}} </h6>

                        </td>
                        <td>

                            <h6 class="title text-truncate text-center">{{data.customerName}} </h6>

                        </td>
                        <td>

                            <h6 class="title text-truncate text-center">{{data.nicNo}} </h6>

                        </td>
                        <td>


                            <h6 class="title text-truncate text-center">{{data.contactNo}}</h6>


                        </td>
                        <td>


                            <h6 class="title text-truncate text-center">{{data.currencyType}}</h6>


                        </td>
                        <td>


                            <h6 class="title text-truncate text-center">{{data.balance}}</h6>


                        </td>
                        <td>


                            <h6 class="title text-truncate text-center">{{data.company}}</h6>


                        </td>
                        <td>


                            <h6 class="title text-truncate text-center">{{data.timecreated | date : 'mediumDate'}}</h6>


                        </td>
                        <td class="text-right" id="hide">
                            <button title="" href="" class="btn btn-outline-success" data-toggle="tooltip"
                                (click)="updateclient(data)" data-original-title="Save to Wishlist"> <i
                                    class="fa fa-pencil" aria-hidden="true"></i></button>
                            <button href="" class="btn btn-outline-danger" (click)="deleteclient(data)"> <i
                                    class="fa fa-trash"></i></button>
                        </td>



                    </tr>
                </tbody>
            </table>
            <div *ngIf="clientDetail.length === 0">
                <div class="row">
                    <div class="col-lg-6 offset-lg-4">
                        <h2 class="text-danger"> Record Not Found</h2>
                    </div>
                </div>
            </div>
        </div> <!-- card.// -->
    </div>


    <button class="btn btn-dark round-corner text-uppercase px-4 mb-2 mt-2" (click)="genReport()">Export
        To PDF</button>
</div>



<div class="row margin-pagination mt-1">
    <div class="col-lg-6 offset-lg-2">
        <div class="d-flex justify-content-around">
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
        </div>
    </div>
</div>