<app-page-header [heading]="'Register Payment'" [icon]="'fa-bar-chart-o'"></app-page-header>

<div class="container register-form">
    <div class="form">
        <div class="note">
            <p>{{ buttonText ? 'Update' : 'Register' }} Payment</p>
        </div>

        <form class="form-content" [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="amount" placeholder="Enter Amount" />
                        <div *ngIf="amount?.invalid && (amount.dirty || amount.touched)"
                        class="validation-error text-danger">
                        <div *ngIf="amount.errors.required || amount.errors?.invalid">
                            Enter a valid Amount
                        </div>
                    </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <ng-select placeholder="Balance Type" formControlName="givenType" [items]="type" class=""
                            bindLabel="value" bindValue="id">

                        </ng-select>
                        <div *ngIf="givenType?.invalid && (givenType.dirty || givenType.touched)"
                            class="validation-error text-danger">
                            <div *ngIf="givenType.errors.required || givenType.errors?.invalid">
                                Select a valid Cash Type
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <ng-select placeholder="Select Client" [items]="clientDetail" class=""
                            formControlName="distibutorId" bindLabel="customerName" bindValue="id">
                        </ng-select>
                        <div *ngIf="distibutorId?.invalid && (distibutorId.dirty || distibutorId.touched)"
                            class="validation-error text-danger">
                            <div *ngIf="distibutorId.errors.required || distibutorId.errors?.invalid">
                                Select a valid Client
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <div class="form-check-inline">

                        <label class="customradio"><span class="radiotextsty text-truncate">Credit (Recieve)</span>
                            <input type="radio" name="isCredit" formControlName="isCredit" checked="isCredit"
                                value="true">
                            <span class="checkmark"></span>
                        </label>        
                        <label class="customradio"><span class="radiotextsty text-truncate">Debit (Pay)</span>
                            <input type="radio" name="isCredit" formControlName="isCredit" checked="isCredit"
                                value="false">
                            <span class="checkmark"></span>
                        </label>
                        <div *ngIf="isCredit?.invalid && (isCredit.dirty || isCredit.touched)" class="validation-error text-danger">
                            <div *ngIf="isCredit.errors.required || isCredit.errors?.invalid">
                                Must Check with Debit or Credit
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <textarea name="" formControlName="detail" placeholder="Enter Detail" id="" cols="50" rows="5"
                    class="ml-3"></textarea>
                <div *ngIf="detail?.invalid && (detail.dirty || detail.touched)" class="validation-error text-danger">
                    <div *ngIf="detail.errors.required || detail.errors?.invalid">
                        Select a valid Customer or Distributor
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 offset-lg-3">
                    <button type="submit" class="btnSubmit mt-2" [disabled]="!paymentForm?.valid"
                       >{{ buttonText ? 'Update' : 'Register' }}</button>
                </div>
            </div>
        </form>
    </div>
</div>