<div>
    <app-page-header [heading]="'Expense'" [icon]="'fa-bar-chart-o'"></app-page-header>
     
    <div class="row product-form-1">
     <div class="col-lg-6 offset-lg-4 mb-3">
        <button  class="btnSubmit" [routerLink]="['create']"> Create Expense </button>
     </div>
    </div>
    
    <div class="container">
        <div class="card">
            <table class="table table-hover shopping-cart-wrap">
                <thead class="text-muted">
                    <tr>
                        <th scope="col" class="text-dark">Purpose</th>
                        <th scope="col" width="200" class="text-dark">Amount</th>
                        <th scope="col" width="200" class="text-dark">Reference</th>
                        <th scope="col" width="200" class="text-dark"> Created Date</th>
                        <th scope="col" width="200" class="text-right">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of expense; let i = index">
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">{{data.purpose}} </h6>
                                </figcaption>
                            </figure>
                        </td>
                        <td>

                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">{{data.amount}}</h6>
                                </figcaption>
                            </figure>
                        </td>
                        <td>

                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">{{data.reference}}</h6>
                                </figcaption>
                            </figure>
                        </td>
                        <td>

                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">{{data.timecreated | date : 'mediumDate'}}</h6>
                                </figcaption>
                            </figure>
                        </td>
                        <td class="text-right">
                            <button title="" href="" class="btn btn-outline-success" data-toggle="tooltip"
                                data-original-title="Save to Wishlist"> <i class="fa fa-pencil"
                                    aria-hidden="true" (click)="updateExpense(data)"></i></button>
                            <button href="" class="btn btn-outline-danger" (click)="deleteExpense(data)"> <i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> <!-- card.// -->

    
    </div>

</div>
