<div>
    <app-page-header [heading]="'Expense'" [icon]="'fa-bar-chart-o'"></app-page-header>
     
    <div class="row product-form-1">
     <div class="col-lg-6 offset-lg-4 mb-3">
        <button  class="btnSubmit" [routerLink]="['create']"> Create Expense </button>
     </div>
    </div>
    
    <div class="container">
        <div class="table-responsive" id="style-1">
            <table class="table table-striped d-table text-center table-stats" id="pdftable" width="100%" #pdfTable>
                <thead class="text-muted">
                    <tr class="red">
                        <th scope="col" class="text-dark">Purpose</th>
                        <th scope="col" width="200" class="text-dark">Amount</th>
                        <th scope="col" width="200" class="text-dark">Reference</th>
                        <th scope="col" width="200" class="text-dark"> Created Date</th>
                        <th scope="col" width="200" class=" text-dark text-right">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of expense | paginate: config; let i = index">
                        <td>
                                    <h6 class="title text-truncate text-center">{{data.purpose}} </h6>
                        </td>
                        <td>

                        
                                    <h6 class="title text-truncate text-center">{{data.amount}}</h6>
                         
                        </td>
                        <td>

                        
                                    <h6 class="title text-truncate text-center">{{data.reference}}</h6>
                         
                        </td>
                        <td>

                        
                                    <h6 class="title text-truncate text-center">{{data.timecreated | date : 'mediumDate'}}</h6>
                         
                        </td>
                        <td class="text-right" >
                            <button title="" href=""  class="btn btn-outline-success" data-toggle="tooltip" (click)="updateExpense(data)"
                                data-original-title="Save to Wishlist"> <i class="fa fa-pencil"
                                    aria-hidden="true" ></i></button>
                            <button  href="" class="btn btn-outline-danger" (click)="deleteExpense(data)"> <i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div *ngIf="expense.length === 0">
                <div class="row">
                  <div class="col-lg-6 offset-lg-4">
                       <h2 class="text-danger"> Record Not Found</h2>
                  </div>
                </div>
             </div>
        </div> <!-- card.// -->
    </div>

    <button class="btn btn-dark round-corner text-uppercase px-4 mb-2 mt-2" (click)="genReport()">Export
        To PDF</button>
</div>

<div class="row margin-pagination mt-1">
    <div class="col-lg-6 offset-lg-3">
      <div class="d-flex justify-content-around">
       <pagination-controls  (pageChange)="pageChanged($event)"></pagination-controls>
      </div>
    </div>
   </div>