<div>
    <app-page-header [heading]="'Purchase'" [icon]="'fa-bar-chart-o'"></app-page-header>
     
    <div class="row">
     <div class="col-lg-6 offset-lg-3 d-flex mb-3">
        <button  class="btnSubmit px-4 py-4 mr-1" [routerLink]="['create']"> Raw Material Purchase </button>
        <button  class="btnSubmit px-4 py-4" [routerLink]="['finishGoods']"> Finish Goods </button>

     </div>
    </div>
    
    <div class="container">
        <div class="card">
            <table class="table table-hover shopping-cart-wrap">
                <thead class="text-muted">
                    <tr>
                        <th scope="col" class="text-dark text-truncate">Purchase ID</th>
                        <th scope="col" class="text-dark text-truncate">Product Purchase</th>
                        <th scope="col" class="text-dark text-truncate">Purchase Customer</th>
                        <th scope="col"  class="text-dark text-truncate">DC NO</th>
                        <th scope="col" class="text-dark text-truncate">Bulk Quantity</th>
                        <th scope="col" class="text-dark text-truncate">Per Kg Price</th>
                        <th scope="col" class="text-dark text-truncate">Quantity In Kg</th>
                        <th scope="col" class="text-dark text-truncate">Per Unit Quantity: </th>
                        <th scope="col" class="text-dark text-truncate">Total Price</th>
                        <th scope="col" class="text-dark text-truncate">Payment Status</th>
                        <th scope="col" class="text-dark text-truncate">Created Date</th>
                         <th scope="col" class="text-right">Action</th>
                    </tr>
                </thead>
                <tbody *ngFor="let data of purchase; let i = index">
                    <tr>
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">{{data.id}}</h6>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">{{data.product_purchase.productName}}</h6>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">{{data.purchase_customer.customerName}}</h6>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">{{data.DcNo}}</h6>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">{{data.bulkQuantity}}</h6>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">{{data.perKgPrice}}</h6>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">{{data.QuantityInKg}} Kg</h6>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">{{data.perUnitQuantity}} Unit</h6>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">{{data.totalPrice}}</h6>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate" *ngIf="data.isPaid === false"><i class="fa fa-times text-danger" aria-hidden="true"></i></h6>
                                    <h6 class="title text-truncate" *ngIf="data.isPaid === true"><i class="fa fa-check text-success" aria-hidden="true"></i>
                                    </h6>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">{{data.timecreated | date : 'mediumDate'}}</h6>
                                </figcaption>
                            </figure>
                        </td>
                        <td class="text-right">
                            <button title="" href="" class="btn btn-outline-success" data-toggle="tooltip"
                                data-original-title="Save to Wishlist"> <i class="fa fa-pencil"
                                    aria-hidden="true" (click)="updatePurchase(data)"></i></button>
                            <button href="" class="btn btn-outline-danger" (click)="deletePurchase(data)"> <i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> <!-- card.// -->

    
    </div>

</div>
