<div>
    <app-page-header [heading]="'Purchase'" [icon]="'fa-bar-chart-o'"></app-page-header>
     
    <div class="row">
     <div class="col-lg-6 offset-lg-3 d-flex mb-3">
        <button  class="btnSubmit px-4 py-4 mr-1" [routerLink]="['create']"> Raw Material Purchase </button>
        <button  class="btnSubmit px-4 py-4" [routerLink]="['finishGoods']"> Finish Goods </button>

     </div>
    </div>
    
    <div class="container">
        <div class="table-responsive"  id="style-1">
            <table class="table table-striped d-table text-center table-stats">
                <thead class="text-muted">
                    <tr class="red">
                        <th scope="col" class="text-dark text-center text-truncate">Purchase ID</th>
                        <th scope="col" class="text-dark text-center text-truncate">Product Purchase</th>
                        <th scope="col" class="text-dark text-center text-truncate">Purchaser</th>
                        <th scope="col"  class="text-dark text-truncate">DC NO</th>
                        <th scope="col" class="text-dark text-center text-truncate">Bulk Quantity</th>
                        <th scope="col" class="text-dark text-center text-truncate">Per Kg Price</th>
                        <th scope="col" class="text-dark text-center text-truncate">Quantity In Kg</th>
                        <th scope="col" class="text-dark text-center text-truncate">Per Unit Quantity</th>
                        <th scope="col" class="text-dark text-center text-truncate">Total Price</th>
                        <th scope="col" class="text-dark text-center text-truncate">Payment Status</th>
                        <th scope="col" class="text-dark text-center text-truncate">Created Date</th>
                         <th scope="col" class="text-right">Action</th>
                    </tr>
                </thead>
                <tbody *ngFor="let data of purchase | paginate: config; let i = index">
                    <tr>
                        <td>
                        
                                    <h6 class="title text-truncate text-center">{{data.id}}</h6>
                         
                        </td>
                        <td>
                        
                                    <h6 class="title text-truncate text-center">{{data.product_purchase.productName}}</h6>
                         
                        </td>
                        <td>
                        
                                    <h6 class="title text-truncate text-center">{{data.purchase_customer.customerName}}</h6>
                         
                        </td>
                        <td>
                        
                                    <h6 class="title text-truncate text-center">{{data.DcNo}}</h6>
                         
                        </td>
                        <td>
                        
                                    <h6 class="title text-truncate text-center">{{data.bulkQuantity}}</h6>
                         
                        </td>
                        <td>
                        
                                    <h6 class="title text-truncate text-center">{{data.perKgPrice}}</h6>
                         
                        </td>
                        <td>
                        
                                    <h6 class="title text-truncate text-center">{{data.QuantityInKg}} Kg</h6>
                         
                        </td>
                        <td>
                        
                                    <h6 class="title text-truncate text-center">{{data.perUnitQuantity}} {{data.unit}}</h6>
                         
                        </td>
                        <td>
                        
                                    <h6 class="title text-truncate text-center">{{data.totalPrice}}</h6>
                         
                        </td>
                        <td>
                        
                                    <h6 class="title text-truncate" *ngIf="data.isPaid === false"><i class="fa fa-times text-danger" aria-hidden="true"></i></h6>
                                    <h6 class="title text-truncate" *ngIf="data.isPaid === true"><i class="fa fa-check text-success" aria-hidden="true"></i>
                                    </h6>
                         
                        </td>
                        <td>
                        
                                    <h6 class="title text-truncate text-center">{{data.timecreated | date : 'mediumDate'}}</h6>
                         
                        </td>
                        <td class="text-right">
                            <button title="" href="" class="btn btn-outline-success" data-toggle="tooltip"
                                data-original-title="Save to Wishlist"> <i class="fa fa-pencil"
                                    aria-hidden="true" (click)="updatePurchase(data)"></i></button>
                            <button href="" class="btn btn-outline-danger" (click)="deletePurchase(data)"> <i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div *ngIf="purchase.length === 0">
                <div class="row">
                  <div class="col-lg-6 offset-lg-4">
                       <h2 class="text-danger"> Record Not Found</h2>
                  </div>
                </div>
             </div>
        </div> <!-- card.// -->

    
    </div>

</div>



<div class="row margin-pagination mt-1">
    <div class="col-lg-6 offset-lg-2">
      <div class="d-flex justify-content-around">
       <pagination-controls  (pageChange)="pageChanged($event)"></pagination-controls>
      </div>
    </div>
</div>