<div>
    <app-page-header [heading]="'Processing'" [icon]="'fa-bar-chart-o'"></app-page-header>

    <!-- <div class="row product-form-1">
        <div class="col-lg-4 offset-lg-8 mb-3">
            <button class="btnSubmit" [routerLink]="['create']" routerLinkActive="router-link-active"> Create Sale
            </button>
        </div>
    </div> -->

    <div class="container">
        <div class="card">
            <table class="table table-hover shopping-cart-wrap">
                <thead class="text-muted">
                    <tr>
                        <th scope="col" width="100" class="text-dark">SR#</th>
                        <th scope="col" width="100" class="text-dark">Master Cartoon</th>
                        <th scope="col" width="100" class="text-dark">Dozen Boxes</th>
                        <th scope="col" width="100" class="text-dark">Packing Capacity</th>
                        <th scope="col" width="100" class="text-dark">Packing Unit</th>
                        <th scope="col" width="100" class="text-dark">Packing Type</th>
                        <th scope="col" width="100" class="text-dark">Packing Type Quantity</th>
                        <th scope="col" width="100" class="text-dark">Total Quantity in Unit</th>
                        <th scope="col" width="100" class="text-dark">Total Quantity in Liters</th>
                        <th scope="col" width="100" class="text-dark">Total Quantity in Kg</th>
                        <th scope="col" width="100" class="text-dark">Price</th>
                        <th scope="col" width="100" class="text-dark">Actions</th>
                    </tr>
                </thead>
                <tbody *ngFor="let data of sale; let i = index">
                    <tr>
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">{{i+1}}</h6>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">{{data.masterCartoons}}</h6>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">{{data.dozenBoxes}}</h6>

                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">{{data.packingCapacity}}</h6>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">{{data.packingUnit}}</h6>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">{{data.packingType}}</h6>
                                </figcaption>
                            </figure>
                        </td>

                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">{{data.packingTypeQuanitity}} {{data.packingType}}
                                    </h6>

                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">{{data.totalQuantityinPackingUnit}}
                                        {{data.packingUnit}}</h6>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">{{data.totalQuantityinLiters}} LTR</h6>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">{{data.totalQuantityinKg}} KG</h6>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">{{data.price}}</h6>
                                </figcaption>
                            </figure>
                        </td>
                        <td class="text-dark">
                            <button title="" href="" class="btn btn-outline-success" data-toggle="tooltip"
                                data-original-title="Save to Wishlist"> <i class="fa fa-eye" aria-hidden="true"
                                    (click)="viewProcessingDetail(data.id)"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> <!-- card.// -->


    </div>

</div>