.my-card
{
    position:absolute;
    left:40%;
    top:-20px;
    border-radius:50%;
}

.border-dark-1{
    border-color: #495355 !important;
}

.headings{
    font-size: 37px;
    text-decoration: underline;
}
.fontSize40 {
    font-size: 40px;

}
.card {
    overflow: hidden;
}

.table-responsive {
    overflow-y: scroll;
    height: 20vh;
}