<app-page-header
[heading]="'Sale'"
[icon]="'sale'"
></app-page-header>
<div class="card">
    <h4 class="modal-title text-uppercase mt-3 text-center">{{ buttonText ? 'Update' : 'Register' }} Oil Sale</h4>

    <form [formGroup]="saleForm" (ngSubmit)="onSubmit()">
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="form-group">
                                    <label> <strong> Select Product: </strong> </label>
                                    <ng-select placeholder="Select Product" formControlName="productId"
                                        [items]="endProductList" bindLabel="productName" bindValue="id">
                                    </ng-select>
                                    <div *ngIf="productId?.invalid && (productId.dirty || productId.touched)" class="validation-error text-danger">
                                        <div *ngIf="productId.errors.required || productId.errors?.invalid">
                                            This field is required 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
    
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="form-group">
                                    <label> <strong> Select Client: </strong> </label>
                                    <ng-select formControlName="customerId" placeholder="Select Customer"
                                        [items]="clients" bindLabel="customerName" bindValue="id"
                                        (change)="currencyType($event)">
                                    </ng-select>
                                    <div *ngIf="customerId?.invalid && (customerId.dirty || customerId.touched)" class="validation-error text-danger">
                                        <div *ngIf="customerId.errors.required || customerId.errors?.invalid">
                                            This field is required 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label> <strong> Select Packing Unit (ML): </strong> </label>
                                <ng-select formControlName="packingUnit" placeholder="Select Packing Unit"
                                    [items]="unit" bindLabel="value" bindValue="value">
                                </ng-select>
                                <div *ngIf="packingUnits?.invalid && (packingUnits.dirty || packingUnits.touched)" class="validation-error text-danger">
                                    <div *ngIf="packingUnits.errors.required || packingUnits.errors?.invalid">
                                        This field is required 
                                    </div>
                                </div>
                            </div>
    
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label> <strong> Select Packing Type: </strong> </label>
                                <ng-select formControlName="packingType" placeholder="Select Packing Type"
                                    [items]="type" bindLabel="value" bindValue="value">
                                </ng-select>
                                <div *ngIf="packingTypes?.invalid && (packingTypes.dirty || packingTypes.touched)" class="validation-error text-danger">
                                    <div *ngIf="packingTypes.errors.required || packingTypes.errors?.invalid">
                                        This field is required 
                                    </div>
                                </div>
                            </div>
                        </div>
    
                    </div>
    
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label> <strong> Select Packing Capacity (ML): </strong> </label>
                                <ng-select formControlName="packingCapacity"
                                    placeholder="Select Packing Capacity" [items]="capacity" bindLabel="value"
                                    bindValue="value" (change)="onChangePackingCapacity($event)">
                                </ng-select>
                                <div *ngIf="packingCapacitys?.invalid && (packingCapacitys.dirty || packingCapacitys.touched)" class="validation-error text-danger">
                                    <div *ngIf="packingCapacitys.errors.required || packingCapacitys.errors?.invalid">
                                        This field is required 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label> <strong> Master Cartoon: </strong> </label>
                                <input type="number" formControlName="masterCartoons"
                                    (change)="onChangeMasterCartoon($event)" class="form-control"
                                    placeholder="Quantity" value="" />
                            </div>
                            <div *ngIf="masterCartoons?.invalid && (masterCartoons.dirty || masterCartoons.touched)" class="validation-error text-danger">
                                <div *ngIf="masterCartoons.errors.required || masterCartoons.errors?.invalid">
                                    Enter Valid Master Cartoons
                                </div>
                            </div>
                        </div>
    
                    </div>
    
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="form-group">
                                    <label> <strong> Dozen Boxes: </strong> </label>
                                    <input *ngIf="updateFields" type="number" formControlName="dozenBoxes" disabled
                                        class="form-control" placeholder="Enter Dozen Boxes" value="{{totalDoxens}}" />
                                    <input *ngIf="createFields" type="number"  disabled
                                        class="form-control" placeholder="Enter Dozen Boxes" value="{{totalDoxens}}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="form-group">
                                    <label> <strong>Packing Type Quantity: </strong> </label>
                                    <input *ngIf="updateFields" formControlName="packingTypeQuanitity" type="text"
                                        class="form-control" disabled
                                        placeholder="Packing Type Quanitity" value="{{packingTypeQuantity}} Bottles" />
                                    <input *ngIf="createFields" type="text"
                                        class="form-control" disabled
                                        placeholder="Packing Type Quanitity" value="{{packingTypeQuantity}} Bottles" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label> <strong> Total Quantity in Packing Unit: </strong> </label>
                                <input *ngIf="updateFields" formControlName="totalQuantityinPackingUnit" type="text"
                                class="form-control" disabled placeholder="Total Quantity in Packing Unit"
                                value="{{totalQuantityUnit}} ML" />
                                <input *ngIf="createFields" type="text"
                                    class="form-control" disabled placeholder="Total Quantity in Packing Unit"
                                    value="{{totalQuantityUnit}} ML" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="form-group">
                                    <label> <strong> Total Quantity in Liters: </strong> </label>
                                    <input *ngIf="updateFields" formControlName="totalQuantityinLiters" type="text"
                                    class="form-control" disabled placeholder="Total Quantity in Liters:"
                                    value="{{totalQuantityLiters}} LTR" />
                                    <input *ngIf="createFields"  type="text"
                                        class="form-control" disabled placeholder="Total Quantity in Liters:"
                                        value="{{totalQuantityLiters}} LTR" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label> <strong> Total Quantity in Kg: </strong> </label>
                                <input *ngIf="updateFields" formControlName="totalQuantityinKg" type="text" class="form-control"
                                disabled placeholder="Total Quantity in Kg" value="{{totalQuantityKG | number}} KG" />
                                <input *ngIf="createFields" type="text" class="form-control"
                                    disabled placeholder="Total Quantity in Kg" value="{{totalQuantityKG | number}} KG" />
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="form-group">
                                    <label> <strong> Price: </strong> </label>
                                    <input formControlName="price" type="number" class="form-control"
                                        placeholder="Price" value="" />
                                        <div *ngIf="price?.invalid && (price.dirty || price.touched)" class="validation-error text-danger">
                                            <div *ngIf="price.errors.required || price.errors?.invalid">
                                                Enter Valid Price
                                            </div>
                                        </div>
                                    </div>


                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="form-group">
                                    <label> <strong> CurrencyType: </strong> </label>
                                    <input disabled type="text" class="form-control"
                                        placeholder="Currency Type" value="{{currencyValue}}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button [disabled]="!saleForm?.valid" type="submit" class="btn btn-dark round-corner text-uppercase px-4"><small>
                {{ buttonText ? 'Update' : 'Register' }}</small></button>
        </div>
    </form>
</div>

