<div class="container-fluid register-form">
    <div class="form">
        <div class="note">
            <p> Finish Goods History</p>
        </div>

        <form class="form-content" [formGroup]="finishGoodsFilterForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <Label> <strong> Start Date</strong></Label>
                        <input
                            type="date"
                            class="form-control"
                            formControlName="startDate"
                            placeholder="Enter Start Date"
                            value=""
                        />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <Label> <strong> End Date</strong></Label>

                        <input
                        type="date"
                        class="form-control"
                        formControlName="endDate"
                        placeholder="Enter End Date"
                        value=""
                    />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <Label class="text-truncate"> <strong>Raw Material Product</strong></Label>

                        <ng-select *ngIf="flag" placeholder="Raw Material Product" formControlName="productId"
                        [items]="rawMaterial" class="" bindLabel="productName" bindValue="id"
                        >
                       </ng-select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <Label> <strong>Enter Distributor</strong></Label>

                        <ng-select *ngIf="flag" placeholder="Enter Distributor" formControlName="distibutorId"
                        [items]="clientDetail" class="" bindLabel="customerName" bindValue="id"
                        >
                       </ng-select>
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-lg-4">
                    <button type="submit" class="btnSubmit">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container" *ngIf="finishGoodsFilter">
    <div class="table-responsive"  id="style-1">
        <table class="table table-striped d-table text-center table-stats" id="pdftable" width="100%" #pdfTable>
            <thead class="text-muted">
                <tr class="red">
                    <th scope="col" class="text-dark text-center text-truncate">Finish Goods Purchase ID</th>
                    <th scope="col" class="text-dark text-center text-truncate">Product Finish Goods Purchase</th>
                    <th scope="col" class="text-dark text-center text-truncate">Finish Goods Purchase Customer</th>
                    <th scope="col"  class="text-dark text-truncate">DC NO</th>
                    <th scope="col" class="text-dark text-center text-truncate">Quantity</th>
                    <th scope="col" class="text-dark text-center text-truncate">Price</th>                        
                    <th scope="col" class="text-dark text-center text-truncate">Payment Status</th>
                    <th scope="col" class="text-dark text-center text-truncate">Created Date</th>
                </tr>
            </thead>
            <tbody *ngFor="let data of finishGoodsFilter | paginate: config; let i = index">
                <tr>
                    <td>
                        <figure class="media">
                            <figcaption class="media-body">
                                <h6 class="title text-truncate text-center">{{data.id}}</h6>
                            </figcaption>
                        </figure>
                    </td>
                    <td>
                        <figure class="media">
                            <figcaption class="media-body">
                                <h6 class="title text-truncate text-center">{{data.product_rawpurchase.productName}}</h6>
                            </figcaption>
                        </figure>
                    </td>
                    <td>
                        <figure class="media">
                            <figcaption class="media-body">
                                <h6 class="title text-truncate text-center">{{data.rawpurchase_customer.customerName}}</h6>
                            </figcaption>
                        </figure>
                    </td>
                    <td>
                        <figure class="media">
                            <figcaption class="media-body">
                                <h6 class="title text-truncate text-center">{{data.DcNo}}</h6>
                            </figcaption>
                        </figure>
                    </td>
                    <td>
                        <figure class="media">
                            <figcaption class="media-body">
                                <h6 class="title text-truncate text-center">{{data.Quantity}}</h6>
                            </figcaption>
                        </figure>
                    </td>
                    <td>
                        <figure class="media">
                            <figcaption class="media-body">
                                <h6 class="title text-truncate text-center">{{data.price}}</h6>
                            </figcaption>
                        </figure>
                    </td>
                    <td>
                        <figure class="media">
                            <figcaption class="media-body">
                                <h6 class="title text-truncate" *ngIf="data.isPaid === false"><i class="fa fa-times text-danger" aria-hidden="true"></i></h6>
                                <h6 class="title text-truncate" *ngIf="data.isPaid === true"><i class="fa fa-check text-success" aria-hidden="true"></i>
                                </h6>
                            </figcaption>
                        </figure>
                    </td>
                    <td>
                        <figure class="media">
                            <figcaption class="media-body">
                                <h6 class="title text-truncate text-center">{{data.timecreated | date : 'mediumDate'}}</h6>
                            </figcaption>
                        </figure>
                    </td>
                    
                </tr>
            </tbody>
        </table>
        <button class="btn btn-dark round-corner text-uppercase px-4 mb-2" (click)="genReport()">Export
            To PDF</button>
    </div> <!-- card.// -->


</div>

<div class="row margin-pagination mt-1">
    <div class="col-lg-6 offset-lg-2">
      <div class="d-flex justify-content-around">
       <pagination-controls  (pageChange)="pageChanged($event)"></pagination-controls>
      </div>
    </div>
</div>