<div class="container-fluid register-form">
    <div class="form">
        <div class="note">
            <p> Payment History</p>
        </div>

        <form class="form-content" [formGroup]="paymentDetailFilterForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <Label> <strong> Start Date</strong></Label>
                        <input
                            type="date"
                            class="form-control"
                            formControlName="startDate"
                            placeholder="Enter Start Date"
                            value=""
                        />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <Label> <strong> End Date</strong></Label>

                        <input
                        type="date"
                        class="form-control"
                        formControlName="endDate"
                        placeholder="Enter End Date"
                        value=""
                    />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <Label> <strong> Check Balance</strong></Label>
                        <ng-select *ngIf="flag" placeholder="Check Balance" formControlName="isCredit"
                        [items]="blance" class="" bindLabel="Label" bindValue="value"
                        >
                       </ng-select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <Label> <strong>Enter Distributor</strong></Label>

                        <ng-select *ngIf="flag" placeholder="Enter Distributor" formControlName="distibutorId"
                        [items]="clientDetail" class="" bindLabel="customerName" bindValue="id"
                        >
                       </ng-select>
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-lg-4">
                    <button type="submit" class="btnSubmit">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="container" *ngIf="paymentDetailFilter">
    <div class="table-responsive"  id="style-1">
        <table class="table table-striped d-table text-center table-stats">
            <thead class="text-muted">
                <tr class="red">
                    <th scope="col" width=""class="text-dark text-truncate">Payment ID</th>
                    <th scope="col" width=""class="text-dark text-truncate">Customer Name</th>
                    <th scope="col" width=""class="text-dark text-truncate">Customer Address</th>
                    <th scope="col" width=""class="text-dark text-truncate">Contact No</th>
                    <th scope="col" width=""class="text-dark text-truncate">Opening Balance</th>
                    <th scope="col" width=""class="text-dark text-truncate">Company Name</th>
                    <th scope="col" width="" class="text-dark text-truncate ">Type</th>
                    <th scope="col" width="" class="text-dark text-truncate">Detail</th>
                    <th scope="col" width="" class="text-dark text-truncate">Amount</th>
                    <th scope="col" width="" class="text-dark text-truncate">Created Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of paymentDetailFilter | paginate: config; let i = index">
                    <td>
                        <figure class="media">
                            <figcaption class="media-body">
                                <h6 class="title text-truncate text-center">{{data.id}}</h6>
                            </figcaption>
                        </figure>
                    </td>
                    <td>
                        <figure class="media">
                            <figcaption class="media-body">
                                <h6 class="title text-truncate text-center">{{data.payment_customer.customerName}}</h6>
                            </figcaption>
                        </figure>
                    </td>
                    <td>
                        <figure class="media">
                            <figcaption class="media-body">
                                <h6 class="title text-truncate text-center">{{data.payment_customer.address}}</h6>
                            </figcaption>
                        </figure>
                    </td>
                    <td>
                        <figure class="media">
                            <figcaption class="media-body">
                                <h6 class="title text-truncate text-center">{{data.payment_customer.contactNo}}</h6>
                            </figcaption>
                        </figure>
                    </td>
                    <td>
                        <figure class="media">
                            <figcaption class="media-body">
                                <h6 class="title text-truncate text-center">{{data.payment_customer.balance}}</h6>
                            </figcaption>
                        </figure>
                    </td>
                    <td>
                        <figure class="media">
                            <figcaption class="media-body">
                                <h6 class="title text-truncate text-center">{{data.payment_customer.company}}</h6>
                            </figcaption>
                        </figure>
                    </td>
                    <td>
                        <figure class="media">
                            <figcaption class="media-body">
                                <h6 class="title text-truncate" *ngIf="data.givenType ==='Q'">Cheaque</h6>
                                <h6 class="title text-truncate" *ngIf="data.givenType ==='C'">Cash</h6>
                                <h6 class="title text-truncate" *ngIf="data.givenType ==='T'">Transfer</h6>

                            </figcaption>
                        </figure>
                    </td>
                    <td>
                        <figure class="media">
                            <figcaption class="media-body">
                                <h6 class="title text-truncate text-center">{{data.detail}}</h6>
                            </figcaption>
                        </figure>
                    </td>
                    <td>
                        <figure class="media">
                            <figcaption class="media-body">
                                <h6 class="title text-truncate text-center">{{data.amount}}</h6>
                            </figcaption>
                        </figure>
                    </td> 
                     <td>
                        <figure class="media">
                            <figcaption class="media-body">
                                <h6 class="title text-truncate text-center">{{data.timecreated | date : 'mediumDate'}}</h6>
                            </figcaption>
                        </figure>
                    </td>
                    <!-- <td>
                        <figure class="media">
                            <figcaption class="media-body">
                                <h6 class="title text-truncate" *ngIf="data.isCredit === true">Credit</h6>
                                <h6 class="title text-truncate" *ngIf="data.isCredit === false">Debit</h6>
                            </figcaption>
                        </figure>
                    </td> -->
                    <!-- <td>
                        <figure class="media">
                            <figcaption class="media-body">
                                <h6 class="title text-truncate" *ngIf="data.isCustomer === true">Customer</h6>
                                <h6 class="title text-truncate" *ngIf="data.isCustomer === false">Distributor</h6>
                            </figcaption>
                        </figure>
                    </td> -->
                </tr>
            </tbody>
        </table>
    </div> <!-- card.// -->


</div>