<div>
    <app-page-header [heading]="'Finish Goods Purchase'" [icon]="'fa-bar-chart-o'"></app-page-header>
     
    <div class="row">
     <div class="col-lg-4 offset-lg-8 d-flex  mb-3">
        <button  class="btnSubmit px-4 py-4 mr-1" [routerLink]="['create']"> Register Finish Goods Purchase </button>
     </div>
    </div>
    
    <div class="container">
        <div class="card">
            <table class="table table-hover shopping-cart-wrap">
                <thead class="text-muted">
                    <tr>
                        <th scope="col" class="text-dark">DC No</th>
                        <th scope="col"  width="200" class="text-dark">Quantity</th>
                        <th scope="col" width="200" class="text-dark">Price</th>
                        <th scope="col" class="text-right">Action</th>
                    </tr>
                </thead>
                <tbody *ngFor="let data of finishGoods; let i = index">
                    <tr>
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <dl class="param param-inline small">
                                        <dt>DC NO: </dt>
                                        <dd>{{data.DcNo}}</dd>
                                    </dl>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">{{data.Quantity}}</h6>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">{{data.price}}</h6>
                                </figcaption>
                            </figure>
                        </td>
                        <td class="text-right">
                            <button title="" href="" class="btn btn-outline-success" data-toggle="tooltip"
                                data-original-title="Save to Wishlist"> <i class="fa fa-pencil"
                                    aria-hidden="true" (click)="updatefinishGoods(data)"></i></button>
                            <button href="" class="btn btn-outline-danger" (click)="deletefinishGoods(data)"> <i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> <!-- card.// -->

    
    </div>

</div>
