<div>
    <app-page-header [heading]="'Finish Goods Purchase'" [icon]="'fa-bar-chart-o'"></app-page-header>
     
    <div class="row">
     <div class="col-lg-6 offset-lg-4 d-flex  mb-3">
        <button  class="btnSubmit px-4 py-4 mr-1" [routerLink]="['create']"> Register Finish Goods Purchase </button>
     </div>
    </div>
    
    <div class="container">
        <div class="table-responsive">
            <table class="table table-striped d-table text-center table-stats">
                <thead class="text-muted">
                    <tr class="red">
                        <th scope="col" class="text-dark text-center text-truncate">Finish Goods Purchase ID</th>
                        <th scope="col" class="text-dark text-center text-truncate">Product Finish Goods Purchase</th>
                        <th scope="col" class="text-dark text-center text-truncate">Finish Goods Purchase Customer</th>
                        <th scope="col"  class="text-dark text-truncate">DC NO</th>
                        <th scope="col" class="text-dark text-center text-truncate">Quantity</th>
                        <th scope="col" class="text-dark text-center text-truncate">Currency Type</th>
                        <th scope="col" class="text-dark text-center text-truncate">Price</th>                        
                        <th scope="col" class="text-dark text-center text-truncate">Payment Status</th>
                        <th scope="col" class="text-dark text-center text-truncate">Created Date</th>
                         <th scope="col" class="text-right">Action</th>
                    </tr>
                </thead>
                <tbody *ngFor="let data of finishGoods | paginate: config; let i = index">
                    <tr>
                        <td>
                        
                                    <h6 class="title text-truncate text-center">{{data.id}}</h6>
                         
                        </td>
                        <td>
                        
                                    <h6 class="title text-truncate text-center">{{data.product_rawpurchase.productName}}</h6>
                         
                        </td>
                        <td>
                        
                                    <h6 class="title text-truncate text-center">{{data.rawpurchase_customer.customerName}}</h6>
                         
                        </td>
                        <td>
                        
                                    <h6 class="title text-truncate text-center">{{data.DcNo}}</h6>
                         
                        </td>
                        <td>
                        
                                    <h6 class="title text-truncate text-center">{{data.Quantity}}</h6>
                         
                        </td>
                        <td>
                        
                            <h6 class="title text-truncate text-center">{{data.rawpurchase_customer.currencyType}}</h6>
                 
                </td>
                        <td>
                        
                                    <h6 class="title text-truncate text-center">{{data.price}}</h6>
                         
                        </td>
                        <td>
                        
                                    <h6 class="title text-truncate" *ngIf="data.isPaid === false"><i class="fa fa-times text-danger" aria-hidden="true"></i></h6>
                                    <h6 class="title text-truncate" *ngIf="data.isPaid === true"><i class="fa fa-check text-success" aria-hidden="true"></i>
                                    </h6>
                         
                        </td>
                        <td>
                        
                                    <h6 class="title text-truncate text-center">{{data.timecreated | date : 'mediumDate'}}</h6>
                         
                        </td>
                        <td class="text-right">
                            <button title="" href="" class="btn btn-outline-success" data-toggle="tooltip"
                                data-original-title="Save to Wishlist"> <i class="fa fa-pencil"
                                    aria-hidden="true" (click)="updatefinishGoods(data)"></i></button>
                            <button href="" class="btn btn-outline-danger" (click)="deletefinishGoods(data)"> <i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div *ngIf="finishGoods.length === 0">
                <div class="row">
                  <div class="col-lg-6 offset-lg-4">
                       <h2 class="text-danger"> Record Not Found</h2>
                  </div>
                </div>
             </div>
        </div> <!-- card.// -->

    
    </div>
</div>



<div class="row margin-pagination mt-1">
    <div class="col-lg-6 offset-lg-2">
      <div class="d-flex justify-content-around">
       <pagination-controls  (pageChange)="pageChanged($event)"></pagination-controls>
      </div>
    </div>
</div>