<app-page-header [heading]="'Client'" [icon]="'fa-bar-chart-o'"></app-page-header>


<div class="container register-form">
    <div class="form">
        <div class="note">
            <p>{{buttonText ? 'Update': 'Create'}} Client</p>
        </div>

        <form class="form-content" [formGroup]="clientForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter Customer Name"
                            formControlName="customerName" value="" />
                        <div *ngIf="customerName?.invalid && (customerName.dirty || customerName.touched)"
                            class="validation-error text-danger">
                            <div *ngIf="customerName.errors.required || customerName.errors?.invalid">
                                Enter a valid Customer Name
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter Company" value=""
                            formControlName="company" />
                        <div *ngIf="company?.invalid && (company.dirty || company.touched)"
                            class="validation-error text-danger">
                            <div *ngIf="company.errors.required || company.errors?.invalid">
                                Enter a valid Company
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter Address" value=""
                            formControlName="address" />
                        <div *ngIf="address?.invalid && (address.dirty || address.touched)"
                            class="validation-error text-danger">
                            <div *ngIf="address.errors.required || address.errors?.invalid">
                                Enter a valid Address
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" formControlName="contactNo" class="form-control"
                            placeholder="Enter Contact No" value="" />
                        <div *ngIf="contactNo?.invalid && (contactNo.dirty || contactNo.touched)"
                            class="validation-error text-danger">
                            <div *ngIf="contactNo.errors.required || contactNo.errors?.invalid">
                                Enter a valid Contact No
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter CNIC NO" formControlName="nicNo"
                            value="" />
                        <!-- <div *ngIf="nicNo?.invalid && (nicNo.dirty || nicNo.touched)"
                            class="validation-error text-danger">
                            <div *ngIf="nicNo.errors.required || nicNo.errors?.invalid">
                                Enter a valid CNIC
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter NTN" value="" />
                        <!-- <div *ngIf="nicNo?.invalid && (nicNo.dirty || nicNo.touched)"
                            class="validation-error text-danger">
                            <div *ngIf="nicNo.errors.required || nicNo.errors?.invalid">
                                Enter a valid CNIC
                            </div>
                        </div> -->
                    </div>
                </div>
              

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
      
                        <ng-select placeholder="Select Currency" [items]="currencyList" class=""
                            formControlName="currencytype" bindLabel="value" bindValue="value">
                        </ng-select>
                          <div *ngIf="currencytype?.invalid && (currencytype.dirty || currencytype.touched)"
                            class="validation-error text-danger">
                            <div *ngIf="currencytype.errors.required || currencytype.errors?.invalid">
                                Enter a Currency type 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Opening Balance" formControlName="balance"
                            value="" />
                        <div *ngIf="balance?.invalid && (balance.dirty || balance.touched)"
                            class="validation-error text-danger">
                            <div *ngIf="balance.errors.required || balance.errors?.invalid">
                                Enter a valid Opening Balance
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <textarea name="" id="" cols="50" rows="5" placeholder="Enter Detail"
                            formControlName="detail"></textarea>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="col-md-6 form-group">
                        <div class="form-check-inline">

                            <label class="customradio"><span class="radiotextsty text-truncate">Credit (Recieve)</span>
                                <input type="radio" name="isCredit" formControlName="isCredit" checked="isCredit"
                                    value="true">
                                <span class="checkmark"></span>
                            </label>        
                            <label class="customradio"><span class="radiotextsty text-truncate">Debit (Pay)</span>
                                <input type="radio" name="isCredit" formControlName="isCredit" checked="isCredit"
                                    value="false">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-4">
                    <button type="submit" class="btnSubmit"
                        [disabled]="!clientForm?.valid">{{buttonText ? 'Update': 'Create'}}</button>

                </div>
            </div>
        </form>
    </div>
</div>