<div>
    <app-page-header [heading]="'Raw Products Listing'" [icon]="'fa-bar-chart-o'"></app-page-header>
     
    <div class="row">
     <div class="col-lg-8 offset-lg-2 d-flex mb-3 ">
        <button  class="btnSubmit mr-1" [routerLink]="['create']"> Raw Products </button>
        <button  class="btnSubmit mr-1" [routerLink]="['endProduct']"> Deliverable  Products</button>
        <button  class="btnSubmit" [routerLink]="['raw']">Finish Goods</button>
     </div>
    </div>
    
    <div class="container">
        <div class="table-responsive"  id="style-1">
            <table class="table table-striped d-table text-center table-stats">
                <thead class="text-muted">
                    <tr class="red">
                        <th scope="col" class="text-dark text-center text-truncate">Product ID</th>
                        <th scope="col" class="text-dark text-center text-truncate">Product Name</th>
                        <th scope="col" class="text-dark text-center text-truncate">DcNo</th>
                        <th scope="col"  class="text-dark text-truncate">Bulk Quantity</th>
                        <th scope="col"  class="text-dark text-truncate">Quantity in Kg</th>
                        <th scope="col"  class="text-dark text-truncate">Quantity in Unit</th>
                        <th scope="col"  class="text-dark text-truncate">Created Product Date</th>
                        <th scope="col"  class="text-dark text-right text-truncate">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of products | paginate: config; let i = index">
                        <td>
                        
                                    <h6 class="title text-truncate text-center">{{data.id}} </h6>
                         
                        </td>
                        <td>

                        
                                    <h6 class="title text-truncate text-center">{{data.productName}} </h6>
                         
                        </td>
                        <td>
                        
                                    <h6 class="title text-truncate text-center">{{data.DcNo}} </h6>
                         
                        </td>
                        <td>

                        
                                    <h6 class="title text-truncate text-center">{{data.bulkQuantity}} </h6>
                         
                        </td>
                        <td>

                        
                                    <h6 class="title text-truncate text-center">{{data.QuantityInKg}}</h6>
                         
                        </td>
                        <td>
                        
                                    <h6 class="title text-truncate text-center">{{data.QuantityInUnit}} {{data.unit}} </h6>
                         
                        </td>
                        <td>
                        
                                    <h6 class="title text-truncate text-center">{{data.timecreated | date : 'mediumDate'}} </h6>
                         
                        </td>
                        <td class="text-right">
                            <button title="" href="" class="btn btn-outline-success" data-toggle="tooltip"
                                data-original-title="Save to Wishlist"> <i class="fa fa-pencil"
                                    aria-hidden="true" (click)="updateProduct(data)"></i></button>
                            <button href="" class="btn btn-outline-danger" (click)="deleteProduct(data)"> <i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div *ngIf="products.length === 0">
                <div class="row">
                  <div class="col-lg-6 offset-lg-4">
                       <h2 class="text-danger"> Record Not Found</h2>
                  </div>
                </div>
             </div>
        </div> <!-- card.// -->

    
    </div>
     
  


</div>


<div class="row margin-pagination mt-1">
    <div class="col-lg-6 offset-lg-2">
      <div class="d-flex justify-content-around">
       <pagination-controls  (pageChange)="pageChanged($event)"></pagination-controls>
      </div>
    </div>
</div>