<div>
    <app-page-header [heading]="'Raw Products Listing'" [icon]="'fa-bar-chart-o'"></app-page-header>
     
    <div class="row">
     <div class="col-lg-4 offset-lg-7 d-flex mb-3">
        <button  class="btnSubmit px-3 py-3 mr-1" [routerLink]="['create']"> Register Raw Product </button>
        <button  class="btnSubmit px-3 py-3 mr-1" [routerLink]="['endProduct']"> Deliverable  Products</button>
        <button  class="btnSubmit px-3 py-3" [routerLink]="['raw']">Finish Goods</button>
     </div>
    </div>
    
    <div class="container">
        <div class="card">
            <table class="table table-hover shopping-cart-wrap">
                <thead class="text-muted">
                    <tr>
                        <th scope="col" class="text-dark">Product</th>
                        <th scope="col" width="200" class="text-dark">Quantity</th>
                        <th scope="col" width="200" class="text-right">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of products; let i = index">
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">{{data.productName}} </h6>
                                    <dl class="param param-inline small">
                                        <dt>DC NO: </dt>
                                        <dd>{{data.DcNo}}</dd>
                                    </dl>
                                </figcaption>
                            </figure>
                        </td>
                        <td>

                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">Bulk Quantity {{data.bulkQuantity}}</h6>
                                    <dl class="param param-inline small">
                                        <dt>Quantity In Kg: </dt>
                                        <dd>{{data.QuantityInKg}} Kg </dd>
                                    </dl>
                                    <dl class="param param-inline small">
                                        <dt>Quantity In Unit: </dt>
                                        <dd>{{data.QuantityInUnit}} unit </dd>
                                    </dl>
                                </figcaption>
                            </figure>
                        </td>

                        <td class="text-right">
                            <button title="" href="" class="btn btn-outline-success" data-toggle="tooltip"
                                data-original-title="Save to Wishlist"> <i class="fa fa-pencil"
                                    aria-hidden="true" (click)="updateProduct(data)"></i></button>
                            <button href="" class="btn btn-outline-danger" (click)="deleteProduct(data)"> <i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> <!-- card.// -->

    
    </div>

</div>
