<div class="container-fluid register-form">
    <div class="form">
        <div class="note">
            <p>Customer Ledger</p>
        </div>

        <div class="form-content mb-4">
            <div class="row mb-4">

                <div class="col-md-4 offset-lg-4">
                    <div class="form-group">
                        <label for=""> <strong> Select Client</strong> </label>
                        <ng-select placeholder="Client" [items]="client" class="" bindLabel="customerName" bindValue="id"
                        (change)="selectClient($event)">
                        </ng-select>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>


<div class="container" *ngIf="clientDetail">
    <div class="table-responsive"  id="style-1">
        <table class="table table-striped d-table text-center table-stats">
            <thead class="text-muted">
                <tr class="red">
                    <th scope="col" width=""class="text-dark text-truncate">Finish Goods Purchase Amount</th>
                    <th scope="col" width=""class="text-dark text-truncate">Raw Product Purchase Amount</th>
                    <th scope="col" width=""class="text-dark text-truncate">Sale Amount</th>
                    <th scope="col" width=""class="text-dark text-truncate">Credit Amount</th>
                    <th scope="col" width=""class="text-dark text-truncate">Debit Amount</th>
                    <th scope="col" width="" class="text-dark text-truncate">Opening Balance</th>
                    <th scope="col" width=""class="text-dark text-truncate">Balance</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <figure class="media">
                            <figcaption class="media-body">
                                <h6 class="title text-truncate text-center">{{clientDetail?.Finish_Goods_Purchase_Amount}}</h6>
                            </figcaption>
                        </figure>
                    </td>
                    <td>
                        <figure class="media">
                            <figcaption class="media-body">
                                <h6 class="title text-truncate text-center">{{clientDetail?.Raw_Product_Purchase_Amount}}</h6>
                            </figcaption>
                        </figure>
                    </td>
                    <td>
                        <figure class="media">
                            <figcaption class="media-body">
                                <h6 class="title text-truncate text-center">{{clientDetail?.Sale_Amount}}</h6>
                            </figcaption>
                        </figure>
                    </td>
                    <td>
                        <figure class="media">
                            <figcaption class="media-body">
                                <h6 class="title text-truncate text-center">{{clientDetail?.Credit_Amount}}</h6>
                            </figcaption>
                        </figure>
                    </td>
                    <td>
                        <figure class="media">
                            <figcaption class="media-body">
                                <h6 class="title text-truncate text-center">{{clientDetail?.Debit_Amount}}</h6>
                            </figcaption>
                        </figure>
                    </td>
                    <td>
                        <figure class="media">
                            <figcaption class="media-body">
                                <h6 class="title text-truncate text-center">{{clientDetail?.Opening_Balance}}</h6>
                            </figcaption>
                        </figure>
                    </td>
                    <td>
                        <figure class="media">
                            <figcaption class="media-body">
                                <h5 class="title text-truncate"> <strong> {{clientDetail?.Balance}}  </strong></h5>
                            </figcaption>
                        </figure>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> <!-- card.// -->


</div>
