<div class="container-fluid register-form">
    <div class="form">
        <div class="note">
            <p> Sale History</p>
        </div>

        <form class="form-content" [formGroup]="saleHistoryForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <Label> <strong> Start Date</strong></Label>
                        <input
                            type="date"
                            class="form-control"
                            formControlName="startDate"
                            placeholder="Enter Start Date"
                            value=""
                        />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <Label> <strong> End Date</strong></Label>

                        <input
                        type="date"
                        class="form-control"
                        formControlName="endDate"
                        placeholder="Enter End Date"
                        value=""
                    />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <Label> <strong> Enter End Product</strong></Label>

                        <ng-select  placeholder="Enter End Product" formControlName="productId"
                        [items]="endProducts" class="" bindLabel="productName" bindValue="id"
                        >
                       </ng-select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <Label> <strong>Enter Distributor</strong></Label>

                        <ng-select placeholder="Enter Distributor" formControlName="customerId"
                        [items]="clientDetail" class="" bindLabel="customerName" bindValue="id"
                        >
                       </ng-select>
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-lg-4">
                    <button type="submit" class="btnSubmit">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="container" *ngIf="saleHistory">
    <div class="card">
        <table class="table table-hover shopping-cart-wrap">
            <thead class="text-muted">
                <tr>
                    <th scope="col" width="200" class="text-dark text-truncate">Sale ID</th>
                    <th scope="col" width="200" class="text-dark text-truncate">Master Cartoon</th>
                    <th scope="col" width="200" class="text-dark text-truncate">Dozen Boxes</th>
                    <th scope="col" width="200" class="text-dark text-truncate">Packing Capacity</th>
                    <th scope="col" width="200" class="text-dark text-truncate">Packing Unit</th>
                    <th scope="col" width="200" class="text-dark text-truncate">Packing Type</th>
                    <th scope="col" width="200" class="text-dark text-truncate">Packing Type Quantity</th>
                    <th scope="col" width="200" class="text-dark text-truncate">Total Quantity in Unit</th>
                    <th scope="col" width="200" class="text-dark text-truncate">Total Quantity in Liters</th>
                    <th scope="col" width="200" class="text-dark text-truncate">Total Quantity in Kg</th>
                    <th scope="col" width="200" class="text-dark text-truncate">Price</th>
                    <th scope="col" width="200" class="text-dark text-truncate">Sale Status</th>
                    <th scope="col" width="200" class="text-dark text-truncate">Actions</th>
                </tr>
            </thead>
            <tbody *ngFor="let data of saleHistory; let i = index">
                <tr>
                    <td>
                        <figure class="media">
                            <figcaption class="media-body">
                                <h6 class="title text-truncate">{{i+1}}</h6>
                            </figcaption>
                        </figure>
                    </td>
                    <td>
                        <figure class="media">
                            <figcaption class="media-body">
                                <h6 class="title text-truncate">{{data.masterCartoons}}</h6>
                            </figcaption>
                        </figure>
                    </td>
                    <td>
                        <figure class="media">
                            <figcaption class="media-body">
                                <h6 class="title text-truncate">{{data.dozenBoxes}}</h6>

                            </figcaption>
                        </figure>
                    </td>
                    <td>
                        <figure class="media">
                            <figcaption class="media-body">
                                <h6 class="title text-truncate">{{data.packingCapacity}}</h6>
                            </figcaption>
                        </figure>
                    </td>
                    <td>
                        <figure class="media">
                            <figcaption class="media-body">
                                <h6 class="title text-truncate">{{data.packingUnit}}</h6>
                            </figcaption>
                        </figure>
                    </td>
                    <td>
                        <figure class="media">
                            <figcaption class="media-body">
                                <h6 class="title text-truncate">{{data.packingType}}</h6>
                            </figcaption>
                        </figure>
                    </td>

                    <td>
                        <figure class="media">
                            <figcaption class="media-body">
                                <h6 class="title text-truncate">{{data.packingTypeQuanitity}} {{data.packingType}}
                                </h6>

                            </figcaption>
                        </figure>
                    </td>
                    <td>
                        <figure class="media">
                            <figcaption class="media-body">
                                <h6 class="title text-truncate">{{data.totalQuantityinPackingUnit}}
                                    {{data.packingUnit}}</h6>
                            </figcaption>
                        </figure>
                    </td>
                    <td>
                        <figure class="media">
                            <figcaption class="media-body">
                                <h6 class="title text-truncate">{{data.totalQuantityinLiters}} LTR</h6>
                            </figcaption>
                        </figure>
                    </td>
                    <td>
                        <figure class="media">
                            <figcaption class="media-body">
                                <h6 class="title text-truncate">{{data.totalQuantityinKg}} KG</h6>
                            </figcaption>
                        </figure>
                    </td>
                    <td>
                        <figure class="media">
                            <figcaption class="media-body">
                                <h6 class="title text-truncate">{{data.price}}</h6>
                            </figcaption>
                        </figure>
                    </td>
                    <td>
                        <figure class="media">
                            <figcaption class="media-body">
                                <h6 class="title text-truncate text-primary" *ngIf="data.isSold === false">Pending</h6>
                                <h6 class="title text-truncate text-success" *ngIf="data.isSold === true">Delivered</h6>

                            </figcaption>
                        </figure>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> <!-- card.// -->


</div>