
<div class="container-fluid register-form">
    <div class="form">
        <div class="note">
            <p> Raw Purchase Filter</p>
        </div>

        <form class="form-content" [formGroup]="rawPurchaseFilterForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <Label> <strong> Start Date</strong></Label>

                        <input
                            type="date"
                            class="form-control"
                            formControlName="startDate"
                            placeholder="Enter Start Date"
                        />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <Label> <strong> End Date</strong></Label>

                        <input
                        type="date"
                        class="form-control"
                        formControlName="endDate"
                        placeholder="Enter End Date"
                    />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <Label> <strong> Select Raw Product</strong></Label>

                        <ng-select  placeholder="Select Raw Product" formControlName="productId"
                        [items]="products" class="" bindLabel="productName" bindValue="id"
                        >
                       </ng-select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <Label> <strong> Select Distributor</strong></Label>

                        <ng-select placeholder="Select Distributor" formControlName="distibutorId"
                        [items]="clientDetail" class="" bindLabel="customerName" bindValue="id"
                        >
                       </ng-select>
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-lg-4">
                    <button type="submit" class="btnSubmit" >Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

    <div class="container" *ngIf="rawPurchaseFilter">
        <div class="table-responsive"  id="style-1">
            <table class="table table-striped d-table text-center table-stats" id="pdftable" width="100%" #pdfTable>
                <thead class="text-muted">
                    <tr class="red">
                        <th scope="col" class="text-dark text-center text-truncate">Purchase ID</th>
                        <th scope="col" class="text-dark text-center text-truncate">Product Purchase</th>
                        <th scope="col" class="text-dark text-center text-truncate">Purchase Customer</th>
                        <th scope="col"  class="text-dark text-truncate">DC NO</th>
                        <th scope="col" class="text-dark text-center text-truncate">Bulk Quantity</th>
                        <th scope="col" class="text-dark text-center text-truncate">Per Kg Price</th>
                        <th scope="col" class="text-dark text-center text-truncate">Quantity In Kg</th>
                        <th scope="col" class="text-dark text-center text-truncate">Per Unit Quantity: </th>
                        <th scope="col" class="text-dark text-center text-truncate">Total Price</th>
                        <th scope="col" class="text-dark text-center text-truncate">Payment Status</th>
                        <th scope="col" class="text-dark text-center text-truncate">Created Date</th>
                    </tr>
                </thead>
                <tbody *ngFor="let data of rawPurchaseFilter  | paginate: config; let i = index">
                    <tr>
                        <td>
                        
                                    <h6 class="title text-truncate text-center">{{data.id}}</h6>
                         
                        </td>
                        <td>
                        
                                    <h6 class="title text-truncate text-center">{{data.product_purchase.productName}}</h6>
                         
                        </td>
                        <td>
                        
                                    <h6 class="title text-truncate text-center">{{data.purchase_customer.customerName}}</h6>
                         
                        </td>
                        <td>
                        
                                    <h6 class="title text-truncate text-center">{{data.DcNo}}</h6>
                         
                        </td>
                        <td>
                        
                                    <h6 class="title text-truncate text-center">{{data.bulkQuantity}}</h6>
                         
                        </td>
                        <td>
                        
                                    <h6 class="title text-truncate text-center">{{data.perKgPrice}}</h6>
                         
                        </td>
                        <td>
                        
                                    <h6 class="title text-truncate text-center">{{data.QuantityInKg}} Kg</h6>
                         
                        </td>
                        <td>
                        
                                    <h6 class="title text-truncate text-center">{{data.perUnitQuantity}} Unit</h6>
                         
                        </td>
                        <td>
                        
                                    <h6 class="title text-truncate text-center">{{data.totalPrice}}</h6>
                         
                        </td>
                        <td>
                        
                                    <h6 class="title text-truncate" *ngIf="data.isPaid === false"><i class="fa fa-times text-danger" aria-hidden="true"></i></h6>
                                    <h6 class="title text-truncate" *ngIf="data.isPaid === true"><i class="fa fa-check text-success" aria-hidden="true"></i>
                                    </h6>
                         
                        </td>
                        <td>
                        
                                    <h6 class="title text-truncate text-center">{{data.timecreated | date : 'mediumDate'}}</h6>
                         
                        </td>
                    
                    </tr>
                </tbody>
            </table>

        </div> <!-- card.// -->

        <button class="btn btn-dark round-corner text-uppercase px-4 mb-2" (click)="genReport()">Export
            To PDF</button>
    </div>


    <div class="row margin-pagination mt-1">
        <div class="col-lg-6 offset-lg-2">
          <div class="d-flex justify-content-around">
           <pagination-controls  (pageChange)="pageChanged($event)"></pagination-controls>
          </div>
        </div>
    </div>