<div>
    <app-page-header [heading]="'Delete Users'" [icon]="'fa-bar-chart-o'"></app-page-header>
     
    <div class="container">
        <div class="card">
            <table class="table table-hover shopping-cart-wrap">
                <thead class="text-muted">
                    <tr>
                        <th scope="col"  width="200" class="text-dark">Username</th>
                        <th scope="col"  width="200" class="text-dark">Quantity</th>
                        <th scope="col"  class="text-right">Action</th>
                    </tr>
                </thead>
                <tbody *ngFor= "let data of users" >
                    <tr>
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <dl class="param param-inline small">
                                        <!-- <dd>{{data.username}}</dd> -->
                                    </dl>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <!-- <h6 class="title text-truncate">{{data.price}}</h6> -->
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <!-- <h6 class="title text-truncate">Bulk Quantity {{data.bulkQuantity}}</h6> -->
                                    <dl class="param param-inline small">
                                        <!-- <dt>Quantity In Kg: </dt> -->
                                        <!-- <dd>{{data.QuantityInKg}} Kg </dd> -->
                                    </dl>
                                    <dl class="param param-inline small">
                                        <!-- <dt>Quantity In Unit: </dt> -->
                                        <!-- <dd>{{data.perUnitQuantity}} unit </dd> -->
                                    </dl>
                                </figcaption>
                            </figure>
                        </td>
                    </tr>
                   
                </tbody>
            </table>
        </div> <!-- card.// -->

    
    </div>
     
    <div class="row mt-2" *ngIf="users[0]?.user_usersignup?.length === 0">
        <div class="col-lg-6 offset-lg-4">
         <h4 class="text-danger">
            Record Not Found
         </h4>
        </div>
      </div>
</div>
