<app-page-header [heading]="'Finish Goods Purchase'" [icon]="'fa-bar-chart-o'"></app-page-header>

<div class="container register-form">
    <div class="form">
        <div class="note">
            <p>Finish Goods Purchase</p>
        </div>

        <form class="form-content" [formGroup]="finishGoodsForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <ng-select
                            *ngIf="flag"
                            placeholder="Select Client"
                            [items]="clientDetail"
                            class=""
                            formControlName="distibutorId"
                            bindLabel="customerName"
                            bindValue="id"
                        >
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <ng-select
                            *ngIf="flag"
                            placeholder="Select Product"
                            [items]="rawMaterial"
                            class=""
                            formControlName="productId"
                            bindLabel="productName"
                            bindValue="id"
                        >
                        </ng-select>
                    </div>
                </div>

              
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <input
                            type="number"
                            class="form-control"
                            formControlName="price"
                            placeholder="Enter Price"
                            value=""
                        />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input
                            type="text"
                            formControlName="DcNo"
                            class="form-control"
                            placeholder="Enter DC No"
                            value=""
                        />
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <input
                            type="number"
                            class="form-control"
                            formControlName="Quantity"
                            placeholder="Enter Quantity"
                            value=""
                        />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <button type="submit" class="btnSubmit">{{ buttonText ? 'Update' : 'Create' }}</button>
                </div>
            </div>
        </form>
    </div>
</div>
