<div>
    <app-page-header [heading]="'Payment'" [icon]="'fa-bar-chart-o'"></app-page-header>
     
    <div class="row product-form-1">
     <div class="col-lg-4 offset-lg-8 mb-3">
        <button  class="btnSubmit" [routerLink]="['create']"> Create Payments </button>
     </div>
    </div>
    
    <div class="container">
        <div class="card">
            <table class="table table-hover shopping-cart-wrap">
                <thead class="text-muted">
                    <tr>
                        <th scope="col" width="200"class="text-dark">Payment Customer</th>
                        <th scope="col" width="200" class="text-dark">Amount</th>
                        <th scope="col" width="200" class="text-dark">Type</th>
                        <th scope="col" width="200" class="text-dark">Detail</th>
                        <th scope="col" width="200" class="text-dark">Balanced Account</th>
                        <th scope="col" width="200" class="text-dark">Distributors</th>
                        <th scope="col" width="200" class="text-dark text-right">Actions</th>

                    </tr>
                </thead>
                <tbody *ngIf="purchase">
                    <tr *ngFor="let data of purchase; let i = index">
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">Payment Customer</h6>
                                    <dl class="param param-inline small">
                                        <dt>Customer Name:</dt>
                                        <dd>{{data.payment_customer.customerName}}</dd>
                                    </dl>
                                    <dl class="param param-inline small">
                                        <dt>Company Name:</dt>
                                        <dd>{{data.payment_customer.company}}</dd>
                                    </dl>
                                    <dl class="param param-inline small">
                                        <dt>Address:</dt>
                                        <dd>{{data.payment_customer.address}}</dd>
                                    </dl>
                                    <dl class="param param-inline small">
                                        <dt>Contact No:</dt>
                                        <dd>{{data.payment_customer.contactNo}}</dd>
                                    </dl>
                                    <dl class="param param-inline small">
                                        <dt>Balance:</dt>
                                        <dd>{{data.payment_customer.balance}}</dd>
                                    </dl>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">{{data.amount}}</h6>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate" *ngIf="data.givenType ==='Q'">Cheaque</h6>
                                    <h6 class="title text-truncate" *ngIf="data.givenType ==='C'">Cash</h6>
                                    <h6 class="title text-truncate" *ngIf="data.givenType ==='T'">Transfer</h6>

                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">Detail {{data.detail}}</h6>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate" *ngIf="data.isCredit === true">Credit</h6>
                                    <h6 class="title text-truncate" *ngIf="data.isCredit === false">Debit</h6>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate" *ngIf="data.isCustomer === true">Customer</h6>
                                    <h6 class="title text-truncate" *ngIf="data.isCustomer === false">Distributor</h6>
                                </figcaption>
                            </figure>
                        </td>
                        <td class="text-right">
                            <button title="" href="" class="btn btn-outline-success" data-toggle="tooltip"
                                data-original-title="Save to Wishlist"> <i class="fa fa-pencil"
                                    aria-hidden="true" (click)="updatePayment(data)"></i></button>
                            <button (click)="deletePayment(data)" href="" class="btn btn-outline-danger"> <i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> <!-- card.// -->

    
    </div>

</div>
