<div>
    <app-page-header [heading]="'Payment'" [icon]="'fa-bar-chart-o'"></app-page-header>
     
    <div class="row product-form-1">
     <div class="col-lg-6 offset-lg-4 mb-3">
        <button  class="btnSubmit" [routerLink]="['create']"> Create Payments </button>
     </div>
    </div>
    
    <div class="container">
        <div class="card">
            <table class="table table-hover shopping-cart-wrap">
                <thead class="text-muted">
                    <tr>
                        <th scope="col" width=""class="text-dark text-truncate">Payment ID</th>
                        <th scope="col" width=""class="text-dark text-truncate">Customer Name</th>
                        <th scope="col" width=""class="text-dark text-truncate">Customer Address</th>
                        <th scope="col" width=""class="text-dark text-truncate">Contact No</th>
                        <th scope="col" width=""class="text-dark text-truncate">Opening Balance</th>
                        <th scope="col" width=""class="text-dark text-truncate">Company Name</th>
                        <th scope="col" width="" class="text-dark text-truncate ">Type</th>
                        <th scope="col" width="" class="text-dark text-truncate">Detail</th>
                        <th scope="col" width="" class="text-dark text-truncate">Amount</th>

                        <th scope="col" width="" class="text-dark text-truncate">Created Date</th>
                        <th scope="col" width="" class="text-dark text-right text-truncate">Actions</th>

                    </tr>
                </thead>
                <tbody *ngIf="purchase">
                    <tr *ngFor="let data of purchase; let i = index">
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">{{data.id}}</h6>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">{{data.payment_customer.customerName}}</h6>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">{{data.payment_customer.address}}</h6>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">{{data.payment_customer.contactNo}}</h6>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">{{data.payment_customer.balance}}</h6>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">{{data.payment_customer.company}}</h6>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate" *ngIf="data.givenType ==='Q'">Cheaque</h6>
                                    <h6 class="title text-truncate" *ngIf="data.givenType ==='C'">Cash</h6>
                                    <h6 class="title text-truncate" *ngIf="data.givenType ==='T'">Transfer</h6>

                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">{{data.detail}}</h6>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">{{data.amount}}</h6>
                                </figcaption>
                            </figure>
                        </td> 
                         <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">{{data.timecreated | date : 'mediumDate'}}</h6>
                                </figcaption>
                            </figure>
                        </td>
                        <!-- <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate" *ngIf="data.isCredit === true">Credit</h6>
                                    <h6 class="title text-truncate" *ngIf="data.isCredit === false">Debit</h6>
                                </figcaption>
                            </figure>
                        </td> -->
                        <!-- <td>
                            <figure class="media">
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate" *ngIf="data.isCustomer === true">Customer</h6>
                                    <h6 class="title text-truncate" *ngIf="data.isCustomer === false">Distributor</h6>
                                </figcaption>
                            </figure>
                        </td> -->
                        <td class="text-right">
                            <button title="" href="" class="btn btn-outline-success" data-toggle="tooltip"
                                data-original-title="Save to Wishlist"> <i class="fa fa-pencil"
                                    aria-hidden="true" (click)="updatePayment(data)"></i></button>
                            <button (click)="deletePayment(data)" href="" class="btn btn-outline-danger"> <i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> <!-- card.// -->

    
    </div>

</div>
