<app-page-header [heading]="' Raw Products Products'" [icon]="'fa-bar-chart-o'"></app-page-header>


<div class="container register-form">
    <div class="form">
        <div class="note">
            <p>{{buttonText ? 'Update': 'Raw'}} Products</p>
        </div>

        <form class="form-content" [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-4">
                    <label for=""> DCNO: </label>

                    <div class="form-group">
                        <input type="text" class="form-control"
                         placeholder="Dc No" value="" formControlName="DcNo" />
                         <div *ngIf="DcNo?.invalid && (DcNo.dirty || DcNo.touched)" class="validation-error text-danger">
                            <div *ngIf="DcNo.errors.required || DcNo.errors?.invalid">
                                Select a valid DC No
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for=""> Product Name: </label>

                    <div class="form-group">
                        <input type="text" class="form-control" 
                         placeholder="Product Name" value="" formControlName="productName" />
                         <div *ngIf="productName?.invalid && (DcNo.dirty || productName.touched)" class="validation-error text-danger">
                            <div *ngIf="productName.errors.required || productName.errors?.invalid">
                                Select a valid Product Name
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <label for=""> Select Type: </label>
                    <div class="form-group">
                        <ng-select *ngIf="flag" placeholder="Type" 
                          [items]="type" class="" formControlName="type" bindLabel="value" 
                           (change)="typelist($event)"
                          bindValue="id">
                        </ng-select>
                        <div *ngIf="types?.invalid && (types.dirty || types.touched)" class="validation-error text-danger">
                            <div *ngIf="types.errors.required || types.errors?.invalid">
                                Select a valid Type
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for=""> Bulk Quantity {{typeOfProduct}}: </label>
                        <input
                         class="form-control"
                          placeholder="Enter Bulk Quantity" 
                          (change)="bulkQuantitys($event)" 
                          type="text"
                          formControlName="bulkQuantity" 
                          value=""
                           />
                           <div *ngIf="bulkQuantity?.invalid && (bulkQuantity.dirty || bulkQuantity.touched)" class="validation-error text-danger">
                            <div *ngIf="bulkQuantity.errors.required || bulkQuantity.errors?.invalid">
                                Select a valid Bulk Quantity
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for=""> {{typeOfProduct}} Quantity In Kg: </label>
                        <input type="text" class="form-control"
                         placeholder="Quantity In Kg"
                         type="text"
                         formControlName="QuantityInKg"
                         (change)="QuantityInKg($event)"
                         value=""/>
                      
                    </div>
                </div>
                <div class="col-md-4">
                
                     <label for="" class=""> Total {{typeOfProduct}} {{total | number}} Quantity Kg </label>
                     <input type="text" disabled class="form-control"
                     placeholder="{{typeOfProduct}} {{total | number}} Kg"
                     value=""/>
                     <!-- <div *ngIf="QuantityInKgs?.invalid && (QuantityInKgs.dirty || QuantityInKgs.touched)" class="validation-error text-danger">
                        <div *ngIf="QuantityInKgs.errors.required || QuantityInKgs.errors?.invalid">
                            Select a valid Quantity Kg
                        </div>
                    </div> -->
                </div>
                <div class="col-md-6">
                    <label for=""> {{typeOfProduct}} Unit: </label>

                    <div class="form-group">
                        <ng-select *ngIf="flag" placeholder="Unit" formControlName="unit"
                         [items]="unit" class="" bindLabel="value" bindValue="id"
                         (change)="QuantityUnit($event)" >
                        </ng-select>
                        <!-- <div *ngIf="units?.invalid && (units.dirty || units.touched)" class="validation-error text-danger">
                            <div *ngIf="units.errors.required || units.errors?.invalid">
                                Select a valid Units
                            </div>
                        </div> -->
                    </div>
                </div>             
                <div class="col-md-6">
                   <label for="">  {{typeOfProduct}} {{totalUnit | number}} Quantity in {{unitName}}</label>
                   <input type="text"   disabled class="form-control"
                   placeholder="Quantity in Unit"
                   type="text"
                   formControlName="QuantityInUnit"
                   value="{{totalUnit}}"
                  />
                   <!-- <div *ngIf="QuantityInUnit?.invalid && (QuantityInUnit.dirty || QuantityInUnit.touched)" class="validation-error text-danger">
                    <div *ngIf="QuantityInUnit.errors.required || QuantityInUnit.errors?.invalid">
                        Select a valid Quantity Unit
                    </div>
                </div> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <button type="submit" class="btnSubmit" [disabled]="!productForm?.valid">{{buttonText ? 'Update': 'Register'}}</button>
                </div>
            </div>
        </form>
    </div>
</div>