<app-page-header [heading]="' Raw Products Products'" [icon]="'fa-bar-chart-o'"></app-page-header>


<div class="container register-form">
    <div class="form">
        <div class="note">
            <p>{{buttonText ? 'Update': 'Register'}} Raw Products</p>
        </div>

        <form class="form-content" [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" 
                         placeholder="Product Name" value="" formControlName="productName" />
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control"
                         placeholder="Dc No" value="" formControlName="DcNo" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <ng-select *ngIf="flag" placeholder="Type" 
                        [items]="type" class="" formControlName="type" bindLabel="value" 
                          bindValue="id">
                        </ng-select>
                    </div>
                </div>
              
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <input
                         class="form-control"
                          placeholder="Enter Bulk Quantity" 
                          (change)="bulkQuantity($event)" 
                          type="number"
                          formControlName="bulkQuantity" 
                          value=""
                           />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control"
                         placeholder="Quantity In Kg"
                         type="number"
                         (change)="QuantityInKg($event)"

                         value=""/>
                    </div>
                </div>
                <div class="col-md-4">
                
                     <label for="" class="font-Size25"> <strong> {{total}} Kg </strong></label>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <ng-select *ngIf="flag" placeholder="Unit" formControlName="unit"
                         [items]="unit" class="" bindLabel="value" bindValue="id"
                         (change)="QuantityUnit($event)" >
                        </ng-select>
                    </div>
                </div>             
                <div class="col-md-6 font-Size25">
                   <label for=""> <strong>{{totalUnit}} {{unitName}} </strong></label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <button type="submit" class="btnSubmit">{{buttonText ? 'Update': 'Register'}}</button>
                </div>
            </div>
        </form>
    </div>
</div>