<div>
    <app-page-header [heading]="'Deliverable Product'" [icon]="'fa-bar-chart-o'"></app-page-header>
     
    <div class="row product-form-1">
     <div class="col-lg-7 offset-lg-4 d-flex mb-3">
        <button  class="btnSubmit" [routerLink]="['create']"> Deliverable Product </button>
     </div>
    </div>
    
    <div class="container">
        <div class="table-responsive"  id="style-1">
            <table class="table table-striped d-table text-center table-stats">
                <thead class="text-muted">
                    <tr class="red">
                        <th scope="col" class="text-dark">Product ID</th>
                        <th scope="col" class="text-dark">Product Name</th>
                        <th scope="col" class="text-dark">Created Product Date</th>
                        <th scope="col" width="200" class="text-right text-dark">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of endProduct; let i = index">
                        <td>
                        
                                    <h6 class="title text-truncate text-center">{{data.id}} </h6>

                         
                        </td>
                        <td>
                        
                                    <h6 class="title text-truncate text-center">{{data.productName}} </h6>

                         
                        </td>
                        <td>
                        
                                    <h6 class="title text-truncate text-center">{{data.timecreated | date : 'mediumDate'}} </h6>

                         
                        </td>
                        <td class="text-right">
                            <button title="" href="" class="btn btn-outline-success" data-toggle="tooltip"
                                data-original-title="Save to Wishlist"> <i class="fa fa-pencil"
                                    aria-hidden="true" (click)="updateProduct(data)"></i></button>
                            <button href="" class="btn btn-outline-danger" (click)="deleteProduct(data)"> <i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> <!-- card.// -->

    
    </div>

</div>
