<app-page-header [heading]="'Purchase'" [icon]="'fa-bar-chart-o'"></app-page-header>

<div class="container-fluid register-form">
    <div class="form">
        <div class="note">
            <p>{{ buttonText ? 'Update' : 'Register' }} Raw Material Purchase</p>
        </div>

        <form class="form-content" [formGroup]="purchaseForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-4">
                    <label for=""> DC NO</label>
                    <div class="form-group">
                        <input type="text" formControlName="DcNo" class="form-control" placeholder="Enter DC NO"
                            value="" />
                            <div *ngIf="DcNo?.invalid && (DcNo.dirty || DcNo.touched)"
                            class="validation-error text-danger">
                            <div *ngIf="DcNo.errors.required || DcNo.errors?.invalid">
                                Enter a valid Dc No
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="">Select Product</label>

                    <div class="form-group">
                        <ng-select *ngIf="flag" placeholder="Select Product" [items]="product" class=""
                            formControlName="productId" bindLabel="productName" bindValue="id">
                        </ng-select>
                        <div *ngIf="productId?.invalid && (productId.dirty || productId.touched)"
                        class="validation-error text-danger">
                        <div *ngIf="productId.errors.required || productId.errors?.invalid">
                            Enter a valid Product
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="">Select Client</label>

                    <div class="form-group">
                        <ng-select *ngIf="flag" placeholder="Select Client" [items]="clientDetail" class=""
                            formControlName="distibutorId" bindLabel="customerName" bindValue="id"
                            (change)="currencyType($event)">
                        </ng-select>
                        <div *ngIf="distibutorId?.invalid && (distibutorId.dirty || distibutorId.touched)"
                        class="validation-error text-danger">
                        <div *ngIf="distibutorId.errors.required || distibutorId.errors?.invalid">
                            Enter a valid Client
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="">Select Type</label>

                    <div class="form-group">
                        <ng-select *ngIf="flag" placeholder="Type" [items]="type" class="" formControlName="type"
                            bindLabel="value" bindValue="id" (change)="typeChange($event)">
                        </ng-select>
                        <div *ngIf="type?.invalid && (type.dirty || type.touched)"
                        class="validation-error text-danger">
                        <div *ngIf="type.errors.required || type.errors?.invalid">
                            Enter a valid Type
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-md-4">

                    <label for=""> Bulk Quantity {{typeOfRawPurchase}}  </label>

                    <div class="form-group">
                        <input (change)="bulkQuantitys($event)" type="number" class="form-control"
                            formControlName="bulkQuantity" placeholder="Enter Bulk Quantity" value="" />
                            <div *ngIf="bulkQuantity?.invalid && (bulkQuantity.dirty || bulkQuantity.touched)"
                            class="validation-error text-danger">
                            <div *ngIf="bulkQuantity.errors.required || bulkQuantity.errors?.invalid">
                                Enter a valid Bulk Quantity
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="">Quantity In Kg</label>

                    <div class="form-group">
                        <input type="number" (change)="QuantityInKg($event)" class="form-control"
                            placeholder="QuantityInKg" value="" />
            
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label for="" class="">
                        Total Quantity Kg
                    </label>
                    <div class="form-group">
                        <input disabled type="text" class="form-control" value="{{ total }} Kg" placeholder="Total Quantity Kg" />
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="">Select Unit</label>

                    <div class="form-group">
                        <ng-select *ngIf="flag" placeholder="Select Unit" [items]="unit" class=""
                            (change)="QuantityUnit($event)" formControlName="unit" bindLabel="value" bindValue="id">
                        </ng-select>
                        <div *ngIf="unit?.invalid && (unit.dirty || unit.touched)"
                        class="validation-error text-danger">
                        <div *ngIf="unit.errors.required || unit.errors?.invalid">
                            Enter a valid Unit
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="" class="">
                        Total Quantity In Unit
                    </label>
                    <div class="form-group">
                        <input disabled class="form-control" placeholder=" Total Quantity In Unit" value="{{ totalUnit }} {{ unitName }}" />
                    </div>
                </div>

            </div>
            <div class="row">
                
                <div class="col-md-4">
                    <label for="">Per Kg Price</label>

                    <div class="form-group">
                        <input type="number" formControlName="perKgPrice" (change)="perKgPrice($event)" class="form-control"
                            placeholder="Per Kg Price" value="" />
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <div class="form-group">
                            <label> CurrencyType: </label>
                            <input disabled type="text" class="form-control"
                                placeholder="CurrencyType" value="{{currencyValue}}" />
                        </div>
                    </div>
                </div>
             <div class="col-md-4">
                <label for="" class="">
                    Total Price
                </label>
                <div class="form-group">
                    <input disabled type="text" class="form-control" placeholder="Total Price" value="{{totalPrice}}" />
                </div>
             </div>
             <!-- <div class="col-md-4">
                <label for="" class="">
                    Price
                </label>
                <div class="form-group">
                    <input type="number" formControlName="price" class="form-control" placeholder="Enter Price" value="" />
                </div>
             </div> -->
            </div>
            <div class="row mt-2">
                <div class="col-lg-4 offset-lg-5">
                    <button type="submit" class="btnSubmit" [disabled]="!purchaseForm?.valid">{{ buttonText ? 'Update' : 'Register' }}</button>
                </div>
            </div>
        </form>
    </div>
</div>